@import "tailwindcss";
@import "tw-animate-css";


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 60s) linear infinite;
}
@font-face {
  font-family: nanito;
  src: url("/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
}
@font-face {
  font-family: logo;
  src: url("/PlaywriteAUQLD-Regular.ttf");
}
* {
  font-family: nanito;
}
.firstLogo {
  font-family: logo;
}
